body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	color: #292940;
	line-height: 25px;
}

header{
	background-color: #F38714;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

header h1{
	color: #292940;
	font-size: 50px;
}

h1, h2{
	font-family: 'Rock Salt', cursive;
}

header img{
	border-radius: 170px;
	width: 300px;
	border: 20px solid #292940
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%
}

h2{
	font-size: 30px;
	color: #F38714;
	margin: 40px 0px 10px;
}

a{
	color: #F38714;
}

a:hover{
	color: #292940;
}

footer{
	background-color: #F38714;
	text-align: center;
	color: white;
	padding: 50px;
}

footer p{
	margin: 0
	}

footer a{
	color: white;
}

footer a:hover{
	opacity: 50%;
	background-color: transparent;
}

p.caption{
	color: #999999;
	font-style: italic;
	margin-top: 0;
}